body {
    font-family: 'Inter', sans-serif;
    background: #192a56;
}
h1{
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0008);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
    user-select: none;
    font-size: 200px;
}
h2{
    text-align: center;
    font-size: 45px;
    color: #273c75;
    user-select: none;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
h3{
    font-size: 70px;
    user-select: none;
}
span{
    color: #4834d4;
}
html{
    max-width: 100%;
}

@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #273c75;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #16a085,
        0 0 20px #16a085,
        0 0 40px #16a085,
        0 0 80px #16a085,
        0 0 160px #16a085;
}